VITE_FIREBASE_APIKEY=your_api_key
VITE_FIREBASE_AUTHDOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECTID=your_project_id
VITE_FIREBASE_STORAGEBUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGINGSENDERID=...
VITE_FIREBASE_APPID=...
VITE_API_URL=http://localhost:5000